/target/
!.mvn/wrapper/maven-wrapper.jar
**/logs/
*.log

.idea/
*.iml
*.ipr
*.iws
out/

.DS_Store
Thumbs.db

kafka-logs/
zookeeper-logs/

spring.log

.env
*.env

/test-output/
/surefire-reports/
/jacoco.exec
notification-service/target/
user-service/target/

/kafka-embedded-*

*.pid
docker-compose.override.yml



*.tmp
*.swp
*.bak
*.old
